**

!.gitignore
!.gitkeep
!CPPLINT.cfg

!Makefile
!CMakeLists.txt

# srcs
!srcs
!srcs/main.cpp

# tests
!tests
!tests/**

# github workflows
!.github
!.github/workflows
!.github/workflows/*.yml

.idea
