**

!.gitignore
!.gitkeep
!CPPLINT.cfg

!Makefile
!CMakeLists.txt

# srcs
!srcs
!srcs/Parser

!srcs/**/*.cpp
!srcs/**/*.hpp

# tests
!tests
!tests/**

# github workflows
!.github
!.github/workflows
!.github/workflows/*.yml

!README.md

.idea
