**

!.gitignore
!.gitkeep
!CPPLINT.cfg

!Makefile
!CMakeLists.txt

# srcs
!srcs
!srcs/Calculator
!srcs/Parser
!srcs/Result
!srcs/Tokenizer

!srcs/**/*.cpp
!srcs/**/*.hpp
!srcs/**/*.tpp

# tests
!tests
!tests/**

# github workflows
!.github
!.github/workflows
!.github/workflows/*.yml

!README.md

.idea
